<div class="share-buttons-container">
    <span class="share-label">
        <i class="fa-solid fa-share-nodes"></i>
        <span>Поділитися:</span>
    </span>
    <div class="share-links-group">
        <a href="https://t.me/share/url?url={{ share_url }}&text={{ share_title }}" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="share-btn share-btn-telegram" 
           title="Поділитися в Telegram"
           aria-label="Поділитися в Telegram">
            <i class="fa-brands fa-telegram"></i>
            <span>Telegram</span>
        </a>
        <a href="https://twitter.com/intent/tweet?url={{ share_url }}&text={{ share_title }}" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="share-btn share-btn-twitter" 
           title="Поділитися у Twitter"
           aria-label="Поділитися у Twitter">
            <i class="fa-brands fa-x-twitter"></i>
            <span>Twitter</span>
        </a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}" 
           target="_blank" 
           rel="noopener noreferrer" 
           class="share-btn share-btn-facebook" 
           title="Поділитися у Facebook"
           aria-label="Поділитися у Facebook">
            <i class="fa-brands fa-facebook-f"></i>
            <span>Facebook</span>
        </a>
    </div>
</div>
